body {
  font: 400 12px 'Open Sans',HelveticaNeue,Helvetica,Arial;
  color: #707070;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #fbfbfb;
}

.fc-event-inner {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.fc-event-title {
  font-weight: bold;
  font-size: 15px;
}

span.showtime-title {
  font-size: 23px;
  font-style: normal;
}

span.showtime-date {
  position: relative;
  top: 16px;
  left: -148px;
  font-weight: normal;
}

.fc-header-title h2 {
  margin-left: 100px;
  font-size: 15px;
  color: #ff5400;
}

.fc-header-title {
  height: 54px;
  width: 83px;
  background-repeat: no-repeat;
}

.fc-state-default.fc-corner-right,
.fc-state-default.fc-corner-left {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

.fc .fc-header-space {
  padding-left: 0;
}

.fc-button-prev {
  float: left !important;
  position: fixed !important;
}

.fc-header-left .fc-button {
  border: none;
}

.fc-header-left .fc-button {
  padding: 0 8px;
}

.fc-header {
  position: relative;
  height: 54px;
}

.fc-header-left {
  text-align: left;
  width: 100%;
}

.fc-header-center {
  text-align: center;
  position: absolute;
  left: 59px;
  line-height: 37px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fc-header-right {
  text-align: right;
  position: absolute;
  top: -5px;
  left: 250px;
  width: 171px;
}

.fc td, .fc th {
  padding: 0;
  vertical-align: top;
}

.fc-header td {
  white-space: nowrap;
}

.fc-button {
  position: relative;
  cursor: default;
}

.fc-state-active {
  color: #797979;
  background: #f9f9f9;
  box-shadow: 0 -1px 0 #eaeaea inset;
}

.fc-corner-right {
  margin-right: 1px;
}

.fc-header .fc-corner-right {
  margin-right: 0;
  float: right;
}

.fc-header .fc-state-active, .fc-header .ui-state-active {
  z-index: 4;
}

.fc-header-right .fc-button {
  height: 30px;
}

.fc-state-active .fc-button {
  color: #797979;
  background: #f9f9f9;
  box-shadow: 0 -1px 0 #eaeaea inset;
}

.fc-button {
  position: relative;
  float: left;
  height: 37px;
  line-height: 37px;
  padding: 0 14px;
  white-space: nowrap;
  cursor: default;
}


.fc-button {
  position: relative;
  float: left;
  height: 37px;
  line-height: 37px;
  padding: 0 14px;
  white-space: nowrap;
}

.fc-button {
  position: relative;
  float: left;
  height: 37px;
  line-height: 37px;
  padding: 0 14px;
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

.fc-event-status {
  float: right;
  position: relative;
  top: -26px;
  font-size: 18px;
}

.fc-event-inner span {
  padding: 0 10px 0 10px;
}

.fc-grid .fc-event-time {
  width: 100px;
  display: inline-block;
}

